:root {
  --BackGroundColor: #808080;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--BackGroundColor);
}
.table {
  margin: auto;
}
.table_Tittle {
  text-align: center;
  margin-top: 20px;
}
td {
  width: 15vw;

  text-align: center;
}
.tableInput {
  width: 50%;
}
.tablediv {
  display: flex;
  justify-content: center;
}
.tableFooter {
  display: flex;
  justify-content: center;
}
.calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 400px;
  height: 130px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}
.calc_Tittle {
  text-align: center;
  margin-top: 50px;
}
.calc_count {
  background-color: blue;
  color: white;
  margin-top: 10px;
  width: 25%;
  height: 25%;
  margin-bottom: 10px;
}
.calc_add {
  background-color: red;
  margin-top: 10px;
  font-weight: bold;
  width: 25%;
  height: 25%;
}
.student_table {
  margin: auto;
  margin-top: 20px;
}
.delIcon {
  margin-left: 10%;
}
.gradescont {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}
.clear {
  background-color: red;
  width: 70px;
  height: 40px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
